<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/semantic.css">

		<script src="../static/jquery-3.3.1.min.js"></script>
		<script src="../static/semantic.min.js"></script>
		<title></title>
	</head>
	<body>
		<div class="ui three item menu">
  <a class="active item" href="/">Heim</a>
  <a class="item" href="/leikarar">Leikarar</a>
  <a class="item" href="/form">Form</a>
</div>


	<div class="ui icon button" data-content="Add users to your feed">
  <i class="add icon"></i>
</div>


	<button class="ui button">Follow</button>



	<script type="text/javascript">
	</script>

	</body>
</html>